<p id="notice"><%= notice %></p>

<h1>Notices</h1>

<table class="index-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Text</th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= link_to  notice.name, notice %></td>
        <td><%= notice.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notice', new_notice_path %>
