<h1>Welcome#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>
<p>You are logged in as <span style="font-weight: bold;"><%= request.env['REMOTE_USER'] %></span>, and that's pretty nifty.</p>
<p>P.S. You're also an administrator, so, yeah...</p>
<p><%= link_to "Manage Categories...", categories_path %></p>
<p><%= link_to "Manage Titles...", titles_path %></p>
<p><%= link_to "Manage Records...", records_path %></p>
<% console %>
