<% display ||= {} %>
<table class="index-table" style="margin-top: 20px">
  <tr>
    <% if :uniqname.in? display %>
      <th colspan=2>Uniqname</th>
    <% end %>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.uniqname %></td>
      <td>
        <% unless user.uniqname == uniqname %>
          <span style="font-size: 80%"><%= link_to "(remove)", users_path + '/' + user.uniqname, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
