<% content_for :secondary_title do %>
  Checked Out
<% end %>

<% content_for :secondary_nav do %>
  <%= link_to 'Back', :back %>
<% end %>

<% if @records.empty? %>
  <p>You have no outstanding loans. Good job!</p>
<% else %>
  <%= render "records_table", records: @records,
      display: [:name, :return_link, :category, :out, :due] %>
<% end %>

<% console %>
