<% content_for :secondary_title do %>
  Not Found
<% end %>

<% content_for :secondary_nav do %>
  <%= link_to "Home", root_path %>
<% end %>

<p>The page you requested could not be found; the resource you were trying to access was probably deleted. Please contact a member of DCO Staff if you need support.</p>