<h2>Unauthorized</h2>
<p>The action you are trying to perform requires administrative access or an authoried computer. Only DCO authorized machines may be used to check items out or mark them as returned.<br />
Please speak to a member of the DCO staff if you need help.</p>
