<div id="searchbar-container">
<input id="searchbar" type="text">
  <div id="searchbar-results">
    <a href="#nowhere">Victor B-P</a>
    <a href="#nowhere2">Victor G-D</a>
    <a href="#nowhere3">Victor T-C</a>
  </div>
</div>