<%= render partial: "searchbar" %>

<div id="category-container">
  <% path_method = method(path) %>
  <% @categories.each do |c| %>
    <%= link_to(path_method.call(:category_id => c), class: "category", category: c) do %>
      <div><!-- CSS magic for vertical alignment -->
        <p><%= c.name %></p>
      </div>
    <% end %>
  <% end %>
</div>

<% console %>
