<p>Hello! Our records indicate that you checked out the following item from DCO: <%= @record.title.name %>. It was due at <%= @record.due.strftime(Rails.configuration.datetime_format) %>. Please return it as soon as possible, or contact DCO at <a href="mailto:help@eecs.umich.edu">help@eecs.umich.edu</a> if you have already returned this item.</p>
<p>Thank you,<br />
DCO Staff</p>
