<p>This is a reminder that the <%= link_to @record.title.name, @record %>  that you checked out is now past its due time. It was due at <%= @record.due.strftime(Rails.configuration.datetime_format) %>. Please return it as soon as possible, or contact DCO (you can reply to this email) if you believe this is an error or to request an extension on the due date.</p>
