
<div id="show-nav">
  <h3><%= title %></h3>
  <div id="show-nav-links">
  	<% if content_for? :show_nav %>
  		<%= content_for :show_nav %>
  	<% end %>
  </div>
</div>

<div id="show-content">
  <%= yield %>
</div>
